.swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: grab;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.image-swiper-button-next,
.image-swiper-button-prev {
  display: none;
  position: absolute;
  top: 35%;
  z-index: 10;
  cursor: pointer;
}

.image-swiper-button-prev {
  left: 0;
}

.image-swiper-button-next {
  right: 0;
}

@media (min-width: 768px) {
  .image-swiper-button-next,
  .image-swiper-button-prev {
    display: flex;
  }
}
